#imageWalletDemoApplication {
    width: 980px;
    margin:auto;
}

canvas.ts-iw {
    background-image: url('assets/ancient-greek-columns-granger.jpg');
    background-size: contain;
    background-blend-mode: darken;
    border: 5px solid black;
    border-radius: 25px;
}
